@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --main-color: #00abf0;
  --text-color: #333;
  --second-text-color: #555;
  --white-color: #fff;
  --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
  --pages-color: linear-gradient(90deg, #fff, #ddd);
  --border: 0.125rem solid #00abf0;
  --box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--second-text-color);
  color: var(--text-color);
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 87rem;
  height: 45rem;
  padding: 2rem;
  perspective: 250rem;
  animation: show-animate 2s forwards;
}

@keyframes show-animate {
  0%,
  30% {
    opacity: 0;
    transform: rotate(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--cover-color);
  box-shadow: var(--box-shadow);
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  transform-origin: right;
}

.cover.cover-left {
  z-index: -1;
}

.cover.cover-right {
  z-index: 100;
  transform: rotateY(0deg);
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cover.cover-right.turn {
  transform: rotateY(180deg);
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 250rem;
}

.book .book-page {
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--pages-color);
  box-shadow: 0 0 0.6rem rgb(0, 0, 0, 0.1);
  display: flex;
  padding: 2rem;
}

.book .book-page-left {
  box-shadow: -0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.1);
}

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-page img {
  max-width: 350px;
  position: relative;
  top: -20px;
}

.profile-page h1 {
  font-size: 2.7rem;
  line-height: 2;
}

.profile-page p {
  text-align: justify;
}


.book-page.page-right {
  position: absolute;
  right: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 10;
}

.book-page.page-right.turn {
  transform: rotateY(-180deg);
}

.book-page .page-front,
.book-page .page-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pages-color);
  padding: 1.5rem 2rem;
}

.book-page .page-front {
  transform: rotateY(0deg) translateZ(1px);
}
.book-page .page-back {
  transform: rotateY(180deg) translateZ(1px);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}


.number-page {
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.nextprev-btn {
  position: absolute;
  bottom: 1.2rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 2rem;
  color: var(--second-text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nextprev-btn:hover {
  color: var(--main-color);
}

.nextprev-btn.back {
  left: 1.5rem;
}




/* cart icon */
#cart-icon {
  position: fixed;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  right: 25px;
}

#cart-icon .cart-item-count {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 18px;
  height: 18px;
  background: #e35f26;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  pointer-events: none;
}


/* Container produk */
.product-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Jarak antar produk */
  justify-content: center; /* Agar produk rata tengah */
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

/* Box tiap produk */
.product-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 275px;
  height: auto;
  display: flex;
  flex-direction: column; /* Atur isi secara vertikal */
  justify-content: space-between;
}

.product-box:hover {
  transform: translateY(-5px);
}

/* Container gambar */
.img-box {
  width: 100%;
  height: 100px; /* perkecil dari 120px ke 100px */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

/* Gambar produk */
.img-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-fit: cover;
  transition: transform 0.8s;
}

.img-box:hover img{
  transform: scale(1.5);
}


/* Harga dan ikon keranjang */
.price-and-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: #e35f26;
}

.add-cart {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  transition: color 0.3s;
}

.add-cart:hover {
  color: #e35f26;
}

.product-box .product-title {
  font-size: 15px;
  margin-top: -4px;
}

.product-box .price-and-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-and-cart .price {
  font-size: 14px; /* perkecil harga */
}

.price-and-cart .add-cart {
  padding: 8px;
  background: #e35f26;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.product-box p {
  font-size: 10px;
  color: #555;
  margin: 3px;
  text-align: justify;
}

.cart {
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 360px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 65px 20px 40px;
  z-index: 100;
  overflow: auto;
}

.cart.active {
  right: 0;
  visibility: visible;
}

.cart-title {
  text-align: center;
  font-size: 30px;
}
.cart-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cart-box img {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-detail {
  display: grid;
  gap: 8px;
  margin-top: auto;
}

.cart-product-title {
  font-size: 16px;
  line-height: 1;
}

.cart-price {
  font-weight: 500;
}

.cart-quantity {
  display: flex;
  width: 100px;
  border: 1px solid #999;
  border-radius: 6px;
}

.cart-quantity button {
  background: transparent;
  width: 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.cart-quantity #decrement {
  color: #999;
}

.cart-quantity .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  cursor: default;
}

.cart-remove {
  font-size: 25px;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #333;
  margin-top: 20px;
  font-size: 18px;
}

.total-price {
  margin-left: 10px;
  font-weight: 600;
}

.btn-buy {
  display: block;
  padding: 10px 30px;
  background: #e35f26;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  margin: 20px auto 0;
  cursor: pointer;
}

#cart-close {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 35px;
  cursor: pointer;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 35px;
}

.section-title span {
  color: burlywood;
}




